# Ref: https://docs.docker.com/build/building/context/#dockerignore-files

# Ingore Git
.gitignore
.git

# Ignore compose file
docker-compose.yml

# Ignore CI script
Jenkinsfile
.gitlab/
.gitlab-ci.yml

# Ignore deployment manifests
deployment/

# Ignore .md files and screenshots
screenshots/
*.md
